{% extends 'platipedia/base.html' %} {% block content %}
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">

        <div class="item active">

            <div class="fill" style="background-image:url('static/arte/plato0.jpg');"></div>
            <div class="carousel-caption">
                <h2 class="animated fadeInLeft"><img class="carousel-topper" src="static/arte/Platipedialogo.png"></h2>
                <p class="animated fadeInUp">Las mejores recetas e información sobre tus platillos preferidos en un solo lugar</p>
                <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large">Ver
                            Más</a></p>
            </div>
        </div>

        <div class="item ">
            <div class="fill" style="background-image:url('static/arte/plato1.jpg');"></div>
            <div class="carousel-caption">
                <h2 class="animated fadeInLeft">Los mejores platillos</h2>
                <p class="animated fadeInUp">Encuentra gran variedad de platillos que puedes cocinar en tu hogar
                </p>
                <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large">Ver
                            Más</a></p>
            </div>
        </div>
        <div class="item">

            <div class="fill" style="background-image:url('static/arte/plato2.jpg');"></div>
            <div class="carousel-caption">

                <h2 class="animated fadeInDown">Aprende sobre tus alimentos</h2>
                <p class="animated fadeInUp">Encuentra información sobre tus alimentos preferidos, encuentra sus origenes y datos interesantes.</p>
                <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large">Ver
                            Más</a></p>
            </div>
        </div>
        <div class="item">

            <div class="fill" style="background-image:url('static/arte/plato3.jpg');"></div>
            <div class="carousel-caption">
                <h2 class="animated fadeInRight">Platillos saludables</h2>
                <p class="animated fadeInRight">Encuentra las combinaciones mas saludables para preparar</p>
                <p class="animated fadeInRight"><a href="#" class="btn btn-transparent btn-rounded btn-large">Ver
                            Más</a></p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="Sector">
    <div class="Titular">
        <h3>PLATILLOS</h3>
    </div>

    <div class="Subtitular">Estos son los platillos preferidos por nuestros usuarios</div>
</div>
<div class="container-fluid Seccion">
    <div class="row">
        {% for Elemento in ListaPlatillos %}
        <div class="col-md-4 PrincipalThumb">
            <img src="static/arte/platillos/{{ Elemento.id }}.bpg">
            <div class="Boton" onclick="document.location.href='platillodetalle/{{ Elemento.id }}'"><a>Leer Más</a></div>
            <h4 class="h4">{{ Elemento.nombre }}</h4>
            <div class="Por">Por: {{ Elemento.autor }}</div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="Sector">
    <div class="Titular">
        <h3>INGREDIENTES</h3>
    </div>
    <div class="Subtitular">Platipedia te presenta los ingredientes usados en todos nuestros deliciosos platillos</div>
    <div class="container-fluid Seccion">
        <div class="row">
            {% for Elemento in ListaIngredientes %}
            <div class="col-md-4 PrincipalThumb">
                <img src="static/arte/ingredientes/{{ Elemento.id }}.bpg">
                <div class="Boton" onclick="document.location.href='ingredientedetalle/{{ Elemento.id }}'"><a>Leer Más</a></div>
                <h4 class="h4">{{ Elemento.nombre }}</h4>
                <div class="Por">Por: {{ Elemento.autor }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}